/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Apr, 2016, 9:23:57 PM
    Author     : Mrunal
*/

.saf_borderpane {
    -fx-background-color: #CFD8DC;
    -fx-background-radius: 0;
}
.saf_topbox {
    -fx-background-color: #03A9F4;
    /*-fx-spacing: 30;
    -fx-padding: 20 0 20 50;*/
}
.spacebox {
    -fx-background-color: transparent;
    /*-fx-min-width: 30;*/
}
.saf_toolbar {
    -fx-background-color: transparent;
    /*-fx-padding: 10 20 10 20;
    -fx-spacing: 15;*/
    -fx-border-width: 0px;
    -fx-min-height: 75;
    -fx-max-height: 75;
}
.saf_toolbar_hover {
    -fx-background-color: #00BCD4;
    -fx-background-radius: 40;
}

.file_button {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}
.file_button_hover {
    -fx-border-color: #000000;
    -fx-border-width:  0 0 2 0;
}
.file_button_select {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #01579B;  
}

.jcd_leftbox {
   -fx-background-color: #7CB342;
   /*-fx-max-width: 500;
   -fx-max-width: 500;*/
   -fx-spacing: 20;
   -fx-padding: 30 20 5 45;
}

.jcd_editbox {
    -fx-background-color: transparent;
}

.jcd_label {
    -fx-font-family: Helvetica, sans-serif;
}
.jcd_h1 {
    -fx-font-size: 25;
}

.jcd_h2 {
    -fx-font-size: 15;
}

.jcd_canvas {
    -fx-background-color: #CFD8DC;
    -fx-min-width: 1416;
    -fx-min-height: 884;
}

.jcd_center {
    /*-fx-max-width: 1377;
    -fx-max-height: 884;*/
}

.jcd_table {
    
}